# ===================================
#   Database Configuration
# ===================================

# Credentials
DB_DOCKER_HOST=
DB_DOCKER_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Kind of ORM
DB_DRIVERNAME=postgresql

# ===================================
#   Localstorage Configuration
# ===================================

LS_BASE_TEMP_DIR=localstorage
LS_WORK_DIR=spp/sources
LS_CONTROL_FILENAME=.control.temp.pkl

# ===================================
#   Plugin Configuration
# ===================================
PL_BASE_TEMP_DIR=plugin_archive

# ALL | PARSER | ML - 3 propably kinds of plugin
PL_TYPE_PROCESSING=ALL

# ===================================
#   S3 Bucket Configuration
# ===================================

S3_ACCESS_KEY_ID=7AF911K158NU3LWZYM8M
S3_SECRET_ACCESS_KEY=DInKmgO8Ey7xhVtOQXcxxoGbRx5oV4AC2vW31dw2
#S3_SESSION_TOKEN=
S3_REGION_NAME=ru-1
S3_ENDPOINT_URL=https://s3.timeweb.cloud
S3_BUCKET_NAME=a72eb7a5-5c6364ed-1059-4317-9e34-d25665672519

# ===================================
#   S3 Platform Node Configuration
# ===================================
VERSION=dev
NODE_NAME=s3p-node
NODE_IP=-1
NODE_TYPES=SOURCE

# Node Heartbeat time delta
ALIVE_INTERVAL=2

# Logs configuration
SPP_LOG_FILE_PATH=configurations/logger/${VERSION}.logger.conf
SPP_LOG_TEMP_PATH=logs

# worker | master (пока не готов)
SPP_TYPE_NODE=worker

# Docker configuration
SPP_CONTAINER_NAME=s3p-node
SPP_DOCKER_SERVICE_NAME=s3-platform-node
SPP_BASE_TEMP_DIR=_sppnode-data

PATH_TO_PROJECT_DIR=
SPP_ABSOLUTE_PATH_TO_PLUGIN_ARCHIVE=${PATH_TO_PROJECT_DIR}/${PL_BASE_TEMP_DIR}
SPP_ABSOLUTE_PATH_TO_LOCAL_STORAGE=${PATH_TO_PROJECT_DIR}/${LS_BASE_TEMP_DIR}

# Аутентификация GitHub API
GITHUB_TOKEN=
